.card-info{
    margin-top: 15px;
    width: 40%;
    background: rgb(252,252,252);
    background: linear-gradient(90deg, rgba(252,252,252,1) 39%, rgba(198,188,203,1) 99%);
    height: 85%;
    border-radius: 15px;
}

.info-name{
    font-size: 35px;
    text-align: center;
    margin: 25px 25px;
}

.icon{
    font-size: 55px;
    color: blueviolet;
}

.information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.planet{
    text-align: center;
}

.row{
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.center-info{
    margin: 0 80px;
}

.info-value{
    margin-top: 25px;
    font-size: 25px;
}

.films{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul{
    margin-top: 15px;
    font-size: 20px;
}

@media screen and (max-width: 480px) {
    .card-info{
        width: 85%;
    }

    .center-info{
        margin: 0 30px;
    }

    .icon{
        font-size: 40px;
    }

    .info-value{
        font-size: 17px;
    }

    ul{
        font-size: 17px;
    }

    
}