.c-info{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-color: #f3e5f5;
}

.button-info{
    margin-top: 20px;
    border: none;
    color: #FFF;
    background-color: blueviolet;
    width: 150px;
    height: 55px;
    border-radius: 10px;
    font-size: 17px;
}