.c-info{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

.button-info{
    margin-top: 15px;
    border: none;
    color: blueviolet;
    background-color: #FFF ;
    width: 150px;
    height: 55px;
    border-radius: 10px;
    font-size: 17px;
}

@media screen and (max-width: 480px) {
    .button-info{
        margin: 15px 0;
    }
}